:root { --border-color: #000; --bg-header: #000; }
body { font-family: 'Arial', sans-serif; font-size: 10px; background: #555; margin: 0; padding: 20px; }
.page { background: white; width: 210mm; margin: 0 auto; padding: 15px; box-shadow: 0 0 15px rgba(0,0,0,0.3); border: 1px solid #000; }

.header-title { text-align: center; background: var(--bg-header); color: #fff; padding: 8px; font-weight: bold; font-size: 16px; margin-bottom: 5px; text-transform: uppercase; }
.section-title { background: #323232; color: #fff;border: 1px solid var(--border-color); text-align: center; font-weight: bold; padding: 4px; text-transform: uppercase; margin: 8px 0 4px 0; font-size: 11px; }

/* Grid do Cabeçalho */

.grid-container { display: grid; grid-template-columns: repeat(12, 1fr); border: 1px solid #000; }
.cell { border: 0.5px solid #ccc; padding: 4px; display: flex; align-items: center; }
.cell label { font-weight: bold; margin-right: 5px; white-space: nowrap; }
.cell input { border: none; border-bottom: 1px solid #eee; width: 100%; outline: none; font-size: 11px; }


/* Estilo das Tabelas de Gastos */
.inventory-container { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 5px; }
table { width: 100%; border-collapse: collapse; font-size: 0.9em; }
th { background: #323232; color: white; border: 1px solid #000;  }
td { border: 1px solid #000; padding: 1px 2px; height: 9px; }
.input-qty { width: 30px; border: none; text-align: center; font-size: 9px;height: 9px; }
.input-un { width: 25px; border: none; text-align: center; font-size: 9px; background: #f9f9f9;height: 9px; }

.footer-sigs { display: flex; justify-content: space-around; margin-top: 20px; text-align: center; font-weight: bold; }
.sig-line { border-top: 1px solid #000; width: 30%; padding-top: 2px; font-size: 9px; }

@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
    body { background: none; padding: 0; }
    .page { box-shadow: none; border: none; width: 210mm; margin: 0; }
    .no-print { display: none; }
}
@page {
    size: A4;
    margin: 10mm;
}
.sessao_medicamento{
    break-inside: avoid;
    page-break-inside: avoid;
}
/*monitoramento trans-cirurgico*/
.anesthesia-monitor {
    break-inside: avoid;
    page-break-inside: avoid;

    display: grid;
    grid-template-columns: 1fr 200px; /* Grade à esquerda, Agentes à direita */
    border: 1px solid #000;
    margin-top: 5px;
}

/* Lado Esquerdo: Grade de Sinais Vitais */
.monitor-grid-container {
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
}


/* A Grade propriamente dita */

/* Lado Direito: Agentes e Técnicas */
.agents-side {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.agents-box {
    border: 1px solid #000;
    height: 250px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.tech-details input {
    border-bottom: 1px solid #000 !important;
    margin-bottom: 4px;
}

.tech-details label { font-size: 9px; }
.icone {
    width: 100%; /* ou 100% */
}

.icone svg {
    width: 100%;
    height: auto;
    display: block;
}
.selecao{
    border: none;
    outline: none;
    font-size: 9px;
    width: 100%;
}
